@charset "UTF-8";
/* CSS Document */

/*==========================================*/
/*ベースの設定
/*==========================================*/
html {
  font-size: 62.5%;
}

**,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 12px; /*IE9以前に対応する*/
  font-size: 1.6rem;
  letter-spacing: 0.8em;
  color: #707070;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

img {
  width: 100%;
  vertical-align: bottom; /*余計な余白の削除*/
}

.sect_ttl {
  padding-bottom: 20px;
}

.sect_ttlMain {
  /*タイトルの設定*/
  font-size: 28px; /*IE9以前に対応する*/
  font-size: 9rem;
  font-weight: bold;
  color: #d6b32d;
  letter-spacing: 3px;
  text-align: center;
  padding-bottom: 5px;
}

.sect_ttlSub {
  /*サブタイトルの設定*/
  font-size: 16px; /*IE9以前に対応する*/
  font-size: 2rem;
  color: #333;
  letter-spacing: 1.8px;
  text-align: center;
}

.flex_box {
  /*要素を横並びに設定するコード*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  /*各aタグの設定*/
  text-decoration: none;
  color: block;
  display: inline-block;
}

li {
  /*各liタグの設定*/
  list-style: none;
}

.sect {
  /*各sect(sectiont)タグの設定*/
  padding: 0 4vw;
  margin-top: 60px;
  margin-bottom: 40px;
}

.sect_inner {
  margin: 0 auto;
}

.sect_ttl {
  padding-bottom: 80px;
}

/*==========================================*/
/*ボタンの設定
/*==========================================*/
.el_btn_border {
  letter-spacing: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
  color: #7d5b5b;
  border: 1px solid #878787;
  display: block;
  max-width: 300px;
  padding: 1.2em 1.7em;
  position: relative;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
}

.el_btn_border::after {
  content: "";
  border: 4px solid transparent;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  right: 4px;
  bottom: 4px;
}

.el_btn_border:hover {
  background-color: #d6b32d;
  color: #f7f7f7;
}

.el_btn_hp {
  /*ボタンを中央配置(work部)*/
  display: block;
  margin: 60px auto 0;
  max-width: 300px;
  transform: translateX(-10%); /*位置を若干修正*/
}

.el_btnWork {
  /*ボタンの変更(work部)*/
  margin-top: 20px;
}

.el_btn_borderWork {
  /*ボタンの変更(work部)*/
  width: 300px;
  font-size: 1.5rem;
}

/*==========================================*/
/*headerの設定(スティッキーヘッダー)
/*==========================================*/

.ly_header {
  width: 100vw;
}

.header_inner_flex {
  max-width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 30px; /*ロゴ部の左側の余白を設定*/
}

.header_ttl {
  letter-spacing: 2px;
}

.js_header_clone {
  /*header_cloneクラスでスティッキーヘッダーを作成*/
  width: 100%;
  height: 40px;
  background-color: #fff;
  position: fixed;
  top: -100px;
  left: 0;
  z-index: 100;
  opacity: 0.9;
  transition: top 0.5s;
}

.js_header_clone:hover {
  /*hover時、背景色の変更*/
  opacity: 1;
}

.js_header_clone.js_visible {
  /*visibleクラスの付与*/
  top: 0;
}

.js_header_clone .el_navList {
  color: #000;
}

/*==========================================*/
/*el_navの設定
/*==========================================*/

.el_nav {
  margin-left: auto;
}

@media screen and (max-width: 559px) {
  .el_nav {
    display: none;
  }
}

.el_navList {
  position: relative;
  margin-right: 1.5vw;
  padding-top: 5px;
  font-size: 1.8rem;
  letter-spacing: 2px;
  transition: 0.5s;
}

.el_navList:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  /*border-bottom: solid 1px #d6b32d;*/
  border-bottom-color: hsla(48, 68%, 51%, 0.5); /* 半透明指定*/
  border-bottom-style: solid;
  /*background: linear-gradient(transparent 70%, #d6b32d 50%); */
  transition: 0.5s;
}

.el_navList:hover:after {
  width: 100%;
}

.el_navListTwitter:hover:after {
  width: 0%;
}

.el_navListGithub:hover:after {
  width: 0%;
}

.el_navList:last-child {
  margin-right: 60px;
}


/*==========================================*/
/*fvの設定
/*==========================================*/

/*==========================================*/
/*workの設定
/*==========================================*/

/*==========================================*/
/*aboutの設定
/*==========================================*/

/*==========================================*/
/*contactの設定
/*==========================================*/

/*==========================================*/
/*footerの設定
/*==========================================*/

/*==========================================*/
/*レスポンスの設定 max-width: 768px;(タブレット)
/*==========================================*/

/*==========================================*/
/*ハンバーガーメニューの設定
/*==========================================*/
.hamburger-btn {
  display: none;
}

@media screen and (max-width: 559px) {
  .hamburger-btn {
    display: block;
    position: relative;
    width: 25px;
    height: 16px;
    margin-right: 4vw;
    z-index: 20;
  }
}

.hamburger-btn__parts {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.hamburger-btn__parts.-top {
  top: 0;
}

.hamburger-btn__parts.-middle {
  top: 0;
  bottom: 0;
  margin: auto;
}

.hamburger-btn__parts.-bottom {
  bottom: 0;
}

.hamburger-btn.active .hamburger-btn__parts.-top {
  -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
}

.hamburger-btn.active .hamburger-btn__parts.-middle {
  opacity: 0;
}

.hamburger-btn.active .hamburger-btn__parts.-bottom {
  -webkit-transform: translateY(-4px) rotate(45deg);
  transform: translateY(-4px) rotate(45deg);
}

.hamburger {
  display: none;
}

@media screen and (max-width: 559px) {
  .hamburger {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #333333;
  }
  .hamburger__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .hamburger__list {
    font-size: 16px;
    /*IE9以前に対応する*/
    font-size: 1rem;
    list-style: none;
    text-align: center;
  }
  .hamburger__list + .hamburger__list {
    padding-top: 50px;
  }
  .hamburger__link {
    text-decoration: none;
    color: #ffffff;
  }
}

.hamburger.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/*# sourceMappingURL=style.css.map */
