@charset "UTF-8";
/* CSS Document */

/*==========================================*/
/*ベースの設定
/*==========================================*/
html {
  font-size: 62.5%;
}

**,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 12px; /*IE9以前に対応する*/
  font-size: 1.6rem;
  letter-spacing: 0.8em;
  color: #707070;
  font-family: "Work Sans", sans-serif, "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic";
}

img {
  width: 100%;
  vertical-align: bottom; /*余計な余白の削除*/
}

.sect_ttl {
  padding-bottom: 20px;
}

.sect_ttlMain {
  /*タイトルの設定*/
  font-size: 28px; /*IE9以前に対応する*/
  font-size: 9rem;
  font-weight: bold;
  color: #d6b32d;
  letter-spacing: 3px;
  text-align: center;
  padding-bottom: 5px;
}

.sect_ttlSub {
  /*サブタイトルの設定*/
  font-size: 16px; /*IE9以前に対応する*/
  font-size: 2rem;
  color: #333;
  letter-spacing: 1.8px;
  text-align: center;
}

.flex_box {
  /*要素を横並びに設定するコード*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  /*各aタグの設定*/
  text-decoration: none;
  color: #333;
  display: inline-block;
}

li {
  /*各liタグの設定*/
  list-style: none;
}

.sect {
  /*各sect(sectiont)タグの設定*/
  padding: 0 4vw;
  margin-top: 10px;
  margin-bottom: 40px;
}

.sect_inner {
  margin: 0 auto;
}

.sect_ttl {
  padding-bottom: 80px;
}

/*==========================================*/
/*ボタンの設定
/*==========================================*/
.el_btn_border {
  letter-spacing: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
  color: #7d5b5b;
  border: 1px solid #878787;
  display: block;
  max-width: 300px;
  padding: 1.2em 1.7em;
  position: relative;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
}

.el_btn_border::after {
  content: "";
  border: 4px solid transparent;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  right: 4px;
  bottom: 4px;
}

.el_btn_border:hover {
  background-color: #d6b32d;
  color: #f7f7f7;
}

.el_btn_hp {
  /*ボタンを中央配置(work部)*/
  display: block;
  margin: 60px auto 0;
  max-width: 300px;
  transform: translateX(-10%); /*位置を若干修正*/
}

.el_btnWork {
  /*ボタンの変更(work部)*/
  margin-top: 30px;
}

.el_btn_borderWork {
  /*ボタンの変更(work部)*/
  width: 300px;
  height: 50px;
  font-size: 1.5rem;
}

/*==========================================*/
/*headerの設定(スティッキーヘッダー)
/*==========================================*/

.ly_header {
  width: 100vw;
}

.header_inner_flex {
  max-width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 30px; /*ロゴ部の左側の余白を設定*/
  z-index: 1200;
}

.header_ttl {
  letter-spacing: 2px;
  z-index: 1200;
  color: #333;
}

.header_ttl a {
  z-index: 1200;
}

.js_header_clone {
  /*header_cloneクラスでスティッキーヘッダーを作成*/
  width: 100%;
  height: 40px;
  background-color: transparent;
  position: fixed;
  top: -100px;
  left: 0;
  z-index: 100;
  opacity: 0.9;
  transition: top 0.5s;
}

.js_header_clone:hover {
  /*hover時、背景色の変更*/
  opacity: 1;
}

.js_header_clone.js_visible {
  /*visibleクラスの付与*/
  top: 0;
}

.js_header_clone .el_navList {
  color: #000;
}

/*==========================================*/
/*el_navの設定
/*==========================================*/

.el_nav {
  margin-left: auto;
}

.el_navList {
  position: relative;
  margin-right: 1.5vw;
  padding-top: 5px;
  font-size: 1.8rem;
  color: #333;
  letter-spacing: 2px;
  transition: 0.5s;
  z-index: 120;
}

.el_navList a {
  color: #333;
  opacity: 0.8;
}

.el_navList a:hover {
  color: #000;
  opacity: 1;
  transition: 0.5s;
}

/* デザイン変更の為、一旦削除
.el_navList:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  opacity: 0.8;
  color: #000;
  background: linear-gradient(transparent 70%, #d6b32d 50%); 
  transition: 0.5s;
}

.el_navList:hover:after {
  width: 100%;
  color: #000;
  opacity: 1;
}

.el_navListTwitter:hover:after {
  width: 0%;
}

.el_navListGithub:hover:after {
  width: 0%;
} */

.el_navList:last-child {
  margin-right: 60px;
}

/*==========================================*/
/*fvの設定
/*==========================================*/
body {
  position: relative;
}

.fv img {
  /*ファーストビューの設定*/
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.hp_glass_container {
  /*グラスモーフィズムのコーディング*/
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  /* デザイン変更の為、一旦削除
  width: 100vw;
  height: 100vh;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  gap: 20px;
  backdrop-filter: blur(11px);
  background-color: rgba(255,255,255, 0.208);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 0px rgba(255,255,255,0.4) solid;
  border-bottom: 0px rgba(40,40,40,0.35) solid;
  border-right: 0px rgba(40,40,40,0.35) solid;
  z-index: -10;
  */
}

/*==========================================*/
/*sect_fristの設定
/*==========================================*/

.sect_frist {
  height: 600px;
}

/*==========================================*/
/*左から右に現れて文字だけ残るCSSアニメーションの設定を行う
/*==========================================*/

@-webkit-keyframes el_passing_bar {
  /*-webkit-・Chrome, Safariに対応する*/
  0% {
    left: 0;
    right: auto;
    width: 0;
  }
  50% {
    left: 0;
    right: auto;
    width: 100%;
  }
  51% {
    left: auto;
    right: 0;
    width: 100%;
  }
  100% {
    left: auto;
    right: 0;
    width: 0;
  }
}

@keyframes el_passing_bar {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 100%;
  }
  51% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

@-webkit-keyframes el_passing_txt {
  /*-webkit-・Chrome, Safariに対応する*/
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes el_passing_txt {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.el_passing_bar {
  z-index: 130;
}

.js_passing .el_passing_box {
  display: block;
  text-align: left;
}

.js_passing .el_passing_bar {
  position: relative;
  display: inline-block;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.js_passing .el_passing_bar:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: #333;
}

.js_passing .el_passing_txt {
  color: #333;
  opacity: 0;
  /* この記述でアニメーションの動きが滑らかになる。*/
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* .el_passing_txtの見た目設定 */
  font-size: 7rem;
  letter-spacing: 0.6px;
  font-weight: bold;
}

.js_passing .el_passing_txt2 {
  /* .el_passing_txtの見た目設定 */
  font-size: 3rem;
  letter-spacing: 0.1;
  font-weight: bold;
  padding-top: 17px;
  margin-top: 7px;
}

/*animation*/
.js_passing.js_move .el_passing_bar:before {
  -webkit-animation: el_passing_bar 1.5s ease 1s 1 normal forwards;
  animation: el_passing_bar 1.5s ease 1s 1 normal forwards;
}

.js_passing.js_move .el_passing_txt {
  -webkit-animation: el_passing_txt 0s ease 1s 1 normal forwards;
  animation: el_passing_txt 0s ease 1s 1 normal forwards;
}

.js_passing.js_move .el_passing_txt::before {
  /*二色のボーダーラインの設定*/
  content: "";
  position: absolute; /*左下に位置する*/
  bottom: 0;
  left: 0;
  width: 710px; /*オレンジラインの横サイズを決める*/
  height: 5px;
  background-color: #333;
}

.js_passing.js_move .el_passing_txt::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 710px; /*黒色ラインの位置をずらす*/
  width: calc(
    100% - 710px
  ); /*calcで黒ラインの横幅を自動計算、レスポンシブに対応*/
  height: 5px;
  background-color: #d6b32d;
}

.js_passing.js_move .el_passing_txt2::before {
  /*二色のボーダーラインの設定*/
  content: "";
  position: absolute; /*左下に位置する*/
  top: 0;
  left: 0;
  width: 200px; /*オレンジラインの横サイズを決める*/
  background-color: #333;
}

.js_passing.js_move .el_passing_txt2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 200px; /*黒色ラインの位置をずらす*/
  width: calc(
    40% - 200px
  ); /*calcで黒ラインの横幅を自動計算、レスポンシブに対応*/
  height: 5px;
  background-color: #333;
}

.hp_accent {
  /*アクセントカラーの設定*/
  color: #d6b32d;
  font-size: 20px; /*IE9以前に対応する*/
  font-size: 3rem;
}

.frist_inner {
  /*メインテキストの位置を設定*/
  position: absolute;
  top: 200px;
  right: 200px;
}

/*==========================================*/
/*Scroll Downの設定
/*==========================================*/

.el_scroll {
  position: absolute; /*Scroll Downの位置調整*/
  bottom: -150px;
  right: -120px;
  z-index: 110;
  letter-spacing: 4px;
  color: #333;
  writing-mode: vertical-rl; /* 日本語の向きを縦にする */
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
}

.el_scroll_btn {
  padding-top: 80px;
}

.el_scroll_btn span {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-right: 1px;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}

.el_scroll_btn span:nth-of-type(1) {
  bottom: -15px;
  right: 2.5px; /*矢印の位置を調整*/
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.el_scroll_btn span:nth-of-type(2) {
  bottom: -25px;
  right: 2.5px; /*矢印の位置を調整*/
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.el_scroll_btn span:nth-of-type(3) {
  bottom: -35px;
  right: 2.5px; /*矢印の位置を調整*/
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*==========================================*/
/*スクロールアニメーションの設定
/*==========================================*/

.el_fadeIn {
  transform: translateY(50px);
  opacity: 0;
}

.el_fadeIn.is_active {
  transition: 0.8s;
  transform: translateY(0);
  opacity: 1;
}

/*==========================================*/
/*workの設定
/*==========================================*/

.sect_work {
  margin-top: 350px;
  height: 1550px;
  max-width: 1800px;
}

.bl_work_inner {
  position: relative;
}

.bl_work_inner:nth-of-type(odd) {
  /*逆向きに配置*/
  flex-direction: row-reverse;
}

.bl_work_inner {
  margin-bottom: 100px;
}

.bl_work_txt {
  font-size: 2rem;
  color: #333;
  letter-spacing: 2px;
  line-height: 1.5;
  position: absolute;
  top: 115px;
  left: 10px;
  width: 40vw;
  height: 500px;
}

.bl_work_txt2 {
  font-size: 2rem;
  color: #333;
  letter-spacing: 2px;
  line-height: 1.5;
  position: absolute;
  top: 115px;
  right: -60px;
  width: 40vw;
  height: 500px;
}

.bl_work_number {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10rem;
  color: #d6b32d;
  letter-spacing: 0.15px;
}

.bl_work_number2 {
  position: absolute;
  top: 0px;
  right: -60px;
  width: 40vw;
  font-size: 10rem;
  color: #d6b32d;
  letter-spacing: 0.15px;
}

.bl_work_number span {
  color: #333;
  font-size: 6rem;
  letter-spacing: 2.5px;
  padding-left: 5px;
}

.bl_work_number2 span {
  color: #333;
  font-size: 6rem;
  letter-spacing: 2.5px;
  padding-left: 5px;
  z-index: 100;
}

.bl_work_number::before {
  /*二色のボーダーラインの設定*/
  content: "";
  position: absolute; /*左下に位置する*/
  bottom: 5px;
  left: 2px;
  width: 110px; /*オレンジラインの横サイズを決める*/
  height: 5px;
  background-color: #d6b32d;
}

.bl_work_number::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 110px; /*黒色ラインの位置をずらす*/
  width: calc(
    450px - 110px
  ); /*calcで黒ラインの横幅を自動計算、レスポンシブに対応*/
  height: 5px;
  background-color: #333;
}

.bl_work_number2::before {
  /*二色のボーダーラインの設定*/
  content: "";
  position: absolute; /*左下に位置する*/
  bottom: 5px;
  left: 2px;
  width: 120px; /*オレンジラインの横サイズを決める*/
  height: 5px;
  background-color: #d6b32d;
}

.bl_work_number2::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 120px; /*黒色ラインの位置をずらす*/
  width: calc(
    450px - 120px
  ); /*calcで黒ラインの横幅を自動計算、レスポンシブに対応*/
  height: 5px;
  background-color: #333;
}

.bl_work_img {
  width: 50vw;
  height: 350px;
  background-image: url("../img/yashima/yahata__web.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bl_work_img2 {
  background-image: url("../img/tenkue/tenkue_top.jpg");
}

/*==========================================*/
/*sliderの設定
/*==========================================*/

.slider {
  width: 100%;
  margin: 0 auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: #333;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 1;
}

.slider_txt {
  font-size: 1.8rem;
  color: #d6b32d;
  letter-spacing: 0.8px;
  text-align: center;
  padding-top: 10px;
}

/*==========================================*/
/*slick_arrowの設定
/*==========================================*/

.slick-arrow {
  position: absolute;
  top: -20px;
  bottom: 0;
  width: 28px;
  height: 28px;
  margin: auto;
}
.prev-arrow {
  left: -15px;
  opacity: 1;
  z-index: 10;
}
.next-arrow {
  right: -15px;
  opacity: 1;
}

/*==========================================*/
/*aboutの設定
/*==========================================*/

.sect_about {
  padding-top: 60px;
  height: 800px;
}

.bl_about_wrapper {
  margin: 0 auto;
  max-width: 1500px;
}

.bl_about_txtInner {
  max-width: 420px;
  padding: 60px 90px;
  background-color: #f2f2f2;
}

.bl_about_txtFrist {
  font-size: 2rem;
  color: #333;
  padding-bottom: 20px;
  letter-spacing: 2px;
}

.bl_about_txtFrist ~ p {
  font-size: 2rem;
  color: #333;
  margin-top: 10px;
  letter-spacing: 1.5px;
}

.el_about_btn {
  /*ボタンのコーディング*/
  display: block;
  margin-top: 50px;
  max-width: 300px;
}

/*==========================================*/
/*メインアイコンの設定
/*==========================================*/

.hp_imgInner {
  max-width: 300px;
  height: auto;
  padding: 60px 60px;
  border: 1px solid #333;
  box-shadow: 25px 25px 0 #d6b32d;
}

/*==========================================*/
/*contactの設定
/*==========================================*/

.sect_contact {
  padding: 70px 0;
  background-color: #f2f2f2;
}

.bl_sect_contact {
  height: 1000px;
}

.bl_contact_txt {
  color: #707070;
  text-align: center;
  letter-spacing: 2px;
}

.bl_contact_tel {
  font-size: 4.5rem;
  color: #707070;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  padding-left: 2em;
  padding-right: 1.38em;
}

.bl_contact_tel::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 0.93em;
  transform: translateY(-50%);
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../../icon/tel_icon.png") no-repeat;
}

.bl_contact_btn {
  text-align: center;
}

/*==========================================*/
/*footerの設定
/*==========================================*/

.ly-footer {
  width: 100vw;
  height: 300px;
}

.ly_footer_fv {
  height: 200px;
  background-image: url("../img/footer_img.jpg");
  background-repeat: repeat-x;
  background-size: 300px 300px;
}

small {
  font-size: 1.4rem;
  display: block;
  text-align: center;
  width: 100vw;
  height: 50px;
  line-height: 50px;
  color: #1d293f;
  letter-spacing: 1.5px;
}

/*==========================================*/
/*レスポンスの設定 min-width: 736px;
/*==========================================*/

@media screen and (min-width: 736px) {
  .el_btn_navItem {
    /*736px以上はハンバーガーメニュー非表示*/
    display: none;
  }

  .el_burger_btn {
    /*736px以上はハンバーガーメニュー非表示*/
    display: none;
  }
}

/*==========================================*/
/*レスポンスの設定 max-width: 736px;(iPhone6,7,8Plus 横向き)
/*==========================================*/
@media screen and (max-width: 736px) {
  /*==========================================*/
  /*ハンバーガーメニューの設定
/*==========================================*/
  .header_inner_flex {
    display: none;
  }

  .el_btn_navItem {
    /*ハンバーガーメニュー*/
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 50px 0 0;
    background-color: rgba(34, 34, 34, 0.95);
    z-index: 200;
    transform: translateX(-100%); /*初期設定で画面の外側に配置*/
    opacity: 0; /*初期設定で非表示*/
    transition: transform 0.3s, opacity 0.3s;
  }

  .el_btn_text {
    /*ハンバーガーメニューの表示、要素の間隔を設定*/
    margin: 0 auto 30px;
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 0.2rem;
    padding-bottom: 20px;
    width: 170px;
  }

  .el_btn_text:first-of-type {
    margin-top: 20px;
  }

  .el_btn_text:last-of-type {
    /*最後の要素はmarign-bottom: 0px;*/
    margin-bottom: 0;
  }

  .el_btn_text a {
    /*色の設定*/
    color: #d6b32d;
  }

  .el_btn_text1 a::before {
    content: "Home";
    font-size: 2em;
    display: block;
  }

  .el_btn_text2 a::before {
    content: "Blog";
    font-size: 2em;
    display: block;
  }

  .el_btn_text3 a::before {
    content: "Work";
    font-size: 2em;
    display: block;
  }

  .el_btn_text4 a::before {
    content: "About";
    font-size: 2em;
    display: block;
  }

  .el_btn_text5 a::before {
    content: "Contact";
    font-size: 2em;
    display: block;
  }

  .el_btn_text a:hover {
    color: #f8e725;
  }

  .el_burger_btn {
    /*ハンバーガーメニューの設定*/
    display: flex; /*横並び*/
    align-items: center;
    position: fixed; /*配置位置の調整*/
    top: 10px;
    right: 5vw;
    z-index: 300;
    cursor: pointer;
  }

  .el_bar {
    display: block;
    background-color: #d6b32d;
    height: 2px;
    width: 25px;
    border-radius: 1px; /*角丸に設定*/
  }

  .el_bar_top {
    transform: translateY(-4px); /*4px上に設定*/
    transition: transform 0.3s;
  }

  .el_bar_bottom {
    transform: translateY(4px); /*4px下に設定*/
    transition: transform 0.3s;
  }

  .el_burger_menu {
    display: block;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #d6b32d;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 5px;
  }

  .js_cross.el_bar_top {
    /*クリックした時のハンバーガーメニュー×印表示*/
    transform: translateY(2px) rotate(315deg);
    transition: transform 1s ease-out;
  }

  .js_cross.el_bar_mid {
    /*真ん中の線は非表示*/
    opacity: 0;
    transition: opacity 1s ease-out;
  }

  .js_cross.el_bar_bottom {
    /*下部の線を傾ける*/
    transform: translateY(-2px) rotate(-315deg);
    transition: transform 1s ease-out;
  }

  .js_open {
    /*クリックした時のハンバーガーメニューの表示*/
    transform: translateX(0); /*初期設定で画面の外側に配置 ➝ 表示*/
    opacity: 1; /*opacity: 1;で非表示だったのを表示する*/
    transition: transform 0.5s, opacity 0.5s;
  }

  .el_burger_musk {
    /*クリックした時の背景表示*/
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /*背景が暗くなる*/
    z-index: 100;
  }

  .el_burger_btn.black.el_bar {
    /*スクロールでハンバーガーメニューの色を変更する*/
    background-color: #fff;
    transition: background-color 0.3s;
  }

  .js_black.el_burger_menu {
    /*スクロールでmenuの色を変更する*/
    color: #fff;
    transition: color 0.3s;
  }

  body.js_noscroll {
    /*ハンバーガーメニューが開いたときにスクロールしなくなる*/
    overflow: hidden;
  }
  /*==========================================*/
  /*sect_fristの設定
  /*==========================================*/

  /*==========================================*/
  /*左から右に現れて文字だけ残るCSSアニメーションの設定を行う
  /*==========================================*/

  .js_passing .el_passing_txt {
    /* フォントサイズの変更 */
    font-size: 3.5rem;
    letter-spacing: 0.6px;
  }

  .js_passing .el_passing_txt2 {
    /* フォントサイズの変更 */
    font-size: 1.5rem;
  }

  .js_passing.js_move .el_passing_txt::before {
    bottom: -7px; /*ボーダーラインの位置を調整*/
    width: 360px; /*オレンジラインの横サイズを決める*/
    height: 4px;
  }

  .js_passing.js_move .el_passing_txt::after {
    bottom: -7px; /*ボーダーラインの位置を調整*/
    left: 360px; /*黒色ラインの位置をずらす*/
    width: calc(
      100% - 360px
    ); /*calcで黒ラインの横幅を自動計算、レスポンシブに対応*/
    height: 4px;
  }

  .js_passing.js_move .el_passing_txt2::before {
    top: 7px; /*ボーダーラインの位置を調整*/
    width: 200px; /*オレンジラインの横サイズを決める*/
    height: 4px;
  }

  .js_passing.js_move .el_passing_txt2::after {
    top: 7px; /*ボーダーラインの位置を調整*/
    left: 100px; /*黒色ラインの位置をずらす*/
    width: calc(
      40% - 100px
    ); /*calcで黒ラインの横幅を自動計算、レスポンシブに対応*/
    height: 4px;
  }
  /*==========================================*/
  /*Scroll Downの設定
  /*==========================================*/

  .el_scroll {
    position: absolute; /*Scroll Downの位置調整*/
    bottom: -10px;
    right: -120px;
  }

  .el_scroll_btn {
    padding-top: 20px;
  }

  /*==========================================*/
  /*Workの設定
  /*==========================================*/

  .sect_work {
    height: 1870px;
  }

  .sect_frist {
    height: 170px;
  }

  .bl_work_inner {
    display: block;
    margin-bottom: 60px;
  }

  .bl_work_img {
    width: 86vw;
  }

  .bl_work_number {
    position: static;
  }

  .bl_work_txt {
    position: static;
    height: 240px;
  }

  .bl_work_number2 {
    position: static;
  }

  .bl_work_txt2 {
    position: static;
    height: 190px;
  }

  /*==========================================*/
  /*aboutの設定
  /*==========================================*/

  .sect_about {
    height: 550px;
  }

  .hp_imgInner {
    max-width: 220px;
    padding: 30px;
    border: 1px solid #333;
    box-shadow: 25px 25px 0 #d6b32d;
  }

  .bl_about_txtInner {
    max-width: 250px;
    padding: 20px;
  }

  .bl_about_wrapper {
    max-width: 640px;
  }

  .bl_about_txtFrist {
    font-size: 1.7rem;
    padding-bottom: 20px;
    letter-spacing: 1px;
  }

  .bl_about_txtFrist ~ p {
    font-size: 1.2rem;
    margin-top: 10px;
    letter-spacing: 0.5px;
  }

  .el_btn_border_hp {
    letter-spacing: 2.5px;
    max-width: 180px;
    padding: 1.2em 1.7em;
    width: 100%;
  }
}

/*==========================================*/
/*レスポンスの設定 max-width: 414px;(iPhone6,7,8 Plus 縦向き)
/*==========================================*/
@media screen and (max-width: 414px) {
  .sect_ttl {
    padding-bottom: 15px;
  }

  .sect_ttlMain {
    font-size: 7rem;
    padding-top: 30px;
  }

  .sect_ttlSub {
    font-size: 1.9rem;
  }

  .fv img {
    height: 70vh;
  }

  .hp_glass_container {
    height: 70vh;
  }
  .js_passing.js_move .el_passing_txt::before {
    bottom: -7px; /*ボーダーラインの位置を調整*/
    width: 270px; /*オレンジラインの横サイズを決める*/
    height: 4px;
  }

  .js_passing.js_move .el_passing_txt::after {
    bottom: -7px; /*ボーダーラインの位置を調整*/
    left: 270px; /*黒色ラインの位置をずらす*/
    width: calc(
      100% - 270px
    ); /*calcで黒ラインの横幅を自動計算、レスポンシブに対応*/
    height: 4px;
  }

  .el_scroll {
    bottom: -80px;
  }

  .bl_work_wrapper {
    margin-top: 50px;
  }

  .frist_inner {
    top: 130px;
    right: 130px;
  }

  .js_passing .el_passing_txt {
    font-size: 2rem;
    letter-spacing: 0.6px;
  }

  .sect_work {
    height: 1400px;
  }

  .bl_work_number {
    font-size: 7rem;
    letter-spacing: 0.15px;
  }

  .bl_work_number span {
    font-size: 5rem;
  }

  .bl_work_txt {
    position: static;
    height: 180px;
    width: 370px;
    font-size: 1.6rem;
    margin-top: 10px;
  }

  .bl_work_img {
    height: 200px;
  }

  .el_btn_borderWork {
    height: 45px;
  }

  .bl_work_number2 {
    font-size: 7rem;
    letter-spacing: 0.15px;
  }

  .bl_work_number2 span {
    font-size: 5rem;
  }

  .bl_work_txt2 {
    position: static;
    height: 180px;
    width: 370px;
    font-size: 1.6rem;
    margin-top: 10px;
  }

  .el_btn_borderWork {
    line-height: 2px;
  }

  .slick-arrow {
    width: 20px;
    height: 20px;
  }

  .slider_txt {
    font-size: 1.3rem;
    letter-spacing: 0.5px;
  }

  .el_btn_border {
    max-width: 230px;
    height: 14px;
    margin: 0 auto;
  }

  .sect_about {
    height: 830px;
  }

  .bl_about_wrapper {
    margin-top: 40px;
    display: block;
  }

  .bl_about_txtInner {
    margin-top: 60px;
    margin-left: 70px;
  }

  .bl_contact_txt {
    font-size: 1.5rem;
    margin-top: 25px;
  }

  .bl_contact_tel {
    font-size: 3rem;
    margin-top: 20px;
  }

  .el_btn_border {
    max-width: 220px;
    padding: 1em;
  }

  .el_btn_border_hp {
    padding: 0.8em 1.7em;
    width: 160px;
  }

  .ly_footer_fv {
    height: 100px;
    background-size: 120px;
  }

  .sect_contact {
    margin-bottom: 0;
  }
}
